metabat_version.h
metabat
metabat1
metabat2
jgi_summarize_bam_contig_depths
contigOverlaps
*.o
.sconsign.dblite
test/*.bins.txt.fa
test/*.depth*
test/*.pruned.*
build/
samtools*
/include/
/lib/
bin
/.autotools
/.cproject
.settings
/.project
/.pydevproject
/Build (GNU)/
